<style>
    .sponsor1{
    
        margin-top: 50px;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100vw;
        height: auto;
    }
    .sponsor2{
        display: flex; 
        gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 100vw;
        height: auto;
    }

</style>
<footer>
    
    <h5>Our Sponsors!
    הספונסרים שלנו</h5>
    <p class="emphasized">Please consider <a href="/sponsorship">sponsoring us</a>!</p>
    
    
        
  
    <p>© {{ site.time | date: '%Y' }} Team 1418.</p>
    <div class="sponsor1">
        <img src="/images/sponsorsnew/fccps.png" style="max-width: 10%; height: auto;">
    </div>
    <p><a href="https://github.com/frc1418/frc1418.github.io">View site source on GitHub</a></p>
    <a href="http://www.firstinspires.org"><img class="first-logo" src="/images/first.png"></a>
</footer>
<script src="/js/scripts.js"></script>
{% if page.scripts %}
    {% for script in page.scripts %}
<script src="/js/{{ script }}.js"></script>
    {% endfor %}
{% endif %}
